<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chi Tiết Sản Phẩm</title>
        <link rel="stylesheet" href="/asset/scss/style.css" />
    </head>
    <body>
        <div id="product-details">
            <!-- Chi tiết sản phẩm sẽ được hiển thị ở đây -->
        </div>

        <div class="navigation-buttons">
            <a href="product.html" class="btn back-to-product">
                <i class="fa fa-arrow-left"></i> Quay về Sản phẩm
            </a>
            <a href="cart.html" class="btn go-to-cart">
                <i class="fa fa-shopping-cart"></i> Vào Giỏ Hàng
            </a>
        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script type="module" src="../controller/detail.js"></script>
    </body>
</html>
