<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Sản Phẩm</title>
    <link rel="stylesheet" href="/asset/scss/style.css">
</head>
<body>
    <div id="product-details">
        <!-- Chi tiết sản phẩm sẽ được hiển thị ở đây -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="../controller/detail.js"></script>
</body>
</html>