<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" href="/asset/scss/style.css">
</head>
<body>
    <div class="cart-container">
        <h1>Giỏ Hàng</h1>
        <table id="cart-table">
            <thead>
                <tr>
                    <th>Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Giá Tiền</th>
                    <th>Tổng Tiền</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                <!-- Các sản phẩm trong giỏ hàng sẽ được hiển thị ở đây -->
            </tbody>
        </table>
        <div class="total-container">
            <h2>Tổng Tiền: <span id="total-price">0</span> VND</h2>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="../controller/cart.js"></script>
</body>
</html>