.cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
    display: flex;
}

.cart-icon img {
    width: 30px;
    height: 30px;
}

.cart-icon:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}
