.filter-container {
    margin-bottom: 20px;
    text-align: center;
}

.filter-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-item {
    display: inline-block;
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-item p {
    font-size: 14px;
    color: #555;
}
